<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Post title:
    <%= f.text_field :name, placeholder: "Description of link", class: 'form-control' %>
  </div>
  <div class="field">
    Link URL:
    <%= f.text_field :url, placeholder: "http://example.com", class: 'form-control' %>
  </div>
  <% if !user_signed_in? %>
  <div class="field">
    Username: 
    <%= f.text_field :username, placeholder: "yourname@something.com", class: 'form-control' %>
  </div>
  <% end %> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
