<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Username:</strong>
  <%= @post.username %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @post.votes %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div id="comments">
<% for comment in @post.comments %>
  <div class="comment">
    <%= simple_format comment.comment %>
  </div>
<% end %>
</div>

<h2>New Comment</h2>

<%= form_tag controller: "posts", action: "comment", id: @post.id %>
  <p><label for="comment">Comment:</label><br/>
  <%= text_area "comment", "comment", :rows => 5, :cols => 50 %> <br />
  <%= submit_tag "Submit Comment" %>
</form>