<h1>
  <%= @post.name %>
</h1>

<p>
  <strong>Link:</strong>
  <%= link_to @post.url, @post.url %>
</p>

<p>
  <strong>Submitted by</strong>
  <%= @post.username %>
</p>

<p>
  <strong>Score:</strong>
  <%= @post.reputation_for(:votes).to_i %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<h3>Comments</h3>
<div id="comments">
<% for comment in @post.comments %>
  <div class="comment">
  	<%= User.find(1).email %> on <%= comment.created_at.strftime("%B %d, %Y") %>:
    <%= simple_format comment.comment %>
  </div>
<% end %>
</div>

<h3>New Comment</h3>

<%= form_tag controller: "posts", action: "comment", id: @post.id %>
  <%= text_area "comment", "comment", :rows => 5, :cols => 50 %> <br />
  <%= submit_tag "Submit Comment" %>
</form>
